*{
  margin: auto;
  padding: auto;
}
body{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../images/view.jpg);
  background-repeat:no-repeat;
  background-size: cover;
}
.center  {
  margin-top: 30px;
  list-style: none;
  color: green;
  float: right;
}
.center li {
  display: inline-block;
}
.center li a{
  color: red;
  text-decoration: none;
  padding: 7px 25px;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
}
.center li a:hover{
  border: 1px solid white;
}
.willy a {
  border: 1px solid white;
}
.logo img{
  width:150px;
  height: auto;
  float: left;
  border-radius: 50%;
}
body{
  font-family: monospace;

}
.row {
  max-width: 1200px;
  margin: auto;
}
.box {
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  height: 200px;
         width: 200px;
         text-align: center;
         border-radius: 80%;

        }
.button li {
  color: red;
  text-decoration: none;
  padding: 10px 25px;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  border: 1px solid white;
  }
#hi {
  color: yellow;
}
#h2{
  color: pink;
}
#p {
  color: white;
}
#name{
  color: white;
}
.icon li a{
  color: red;
  text-decoration: none;
  padding: 7px 25px;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
}
.icon li{
  display: inline-block;
  margin: 4px;

  color: white;
  {
